* {
  margin: 0;
  padding: 0;
}

.virus-animation {
  position: relative;
  background-color: rgb(182, 106, 106);
  height: 100vh;
  width: 100%;
  overflow: hidden;

  &__title {
    position: absolute;
    width: 35%;
    top: 20%;
    left: 50%;
    // transform: rotate(15deg); // nie działa bo odwołujemy się do transforma w JS
  }

  &__icon {
    position: absolute;
    width: 15%;
  }

  &__icon:nth-child(2) {
    top: 35%;
    left: -7%;
  }

  &__icon:nth-child(3) {
    // background-color: rgb(34, 3, 3);
    top: 63%;
    left: 5%;
  }

  &__icon:nth-child(4) {
    top: 42%;
    left: 13%;
  }

  &__icon:nth-child(5) {
    top: 15%;
    left: 27%;
  }

  &__icon:nth-child(6) {
    top: 55%;
    left: 33%;
  }

  &__icon:nth-child(7) {
    top: 45%;
    left: 46%;
  }

  &__icon:nth-child(8) {
    top: 35%;
    left: 63%;
  }

  &__icon:nth-child(9) {
    top: 65%;
    left: 76%;
  }

  &__icon:nth-child(10) {
    top: 35%;
    left: 88%;
  }
}